@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: hsl(260 23.0769% 97.451%);
  --color-foreground: hsl(243.1579 13.6691% 27.2549%);
  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(243.1579 13.6691% 27.2549%);
  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(243.1579 13.6691% 27.2549%);
  --color-primary: hsl(260.4 22.9358% 57.2549%);
  --color-primary-foreground: hsl(260 23.0769% 97.451%);
  --color-secondary: hsl(258.9474 33.3333% 88.8235%);
  --color-secondary-foreground: hsl(243.1579 13.6691% 27.2549%);
  --color-muted: hsl(258 15.1515% 87.0588%);
  --color-muted-foreground: hsl(247.5 10.3448% 45.4902%);
  --color-accent: hsl(260, 26%, 91%);
  --color-accent-foreground: hsl(343.4483 23.9669% 23.7255%);
  --color-destructive: hsl(0 62.1891% 60.5882%);
  --color-destructive-foreground: hsl(260 23.0769% 97.451%);
  --color-border: hsl(258.75 17.3913% 81.9608%);
  --color-input: hsl(260 23.0769% 92.3529%);
  --color-ring: hsl(260.4 22.9358% 57.2549%);
  --color-chart-1: hsl(260.4 22.9358% 57.2549%);
  --color-chart-2: hsl(342.4615 56.5217% 77.451%);
  --color-chart-3: hsl(158.7692 31.401% 59.4118%);
  --color-chart-4: hsl(35.7576 76.7442% 74.7059%);
  --color-chart-5: hsl(215.8209 54.4715% 75.8824%);
  --color-sidebar: hsl(260 23.0769% 94.902%);
  --color-sidebar-foreground: hsl(243.1579 13.6691% 27.2549%);
  --color-sidebar-primary: hsl(260.4 22.9358% 57.2549%);
  --color-sidebar-primary-foreground: hsl(260 23.0769% 97.451%);
  --color-sidebar-accent: hsl(260, 26%, 91%);
  --color-sidebar-accent-foreground: hsl(343.4483 23.9669% 23.7255%);
  --color-sidebar-border: hsl(261.4286 18.4211% 85.098%);
  --color-sidebar-ring: hsl(260.4 22.9358% 57.2549%);

  --font-sans: Geist, sans-serif;
  --font-serif: "Lora", Georgia, serif;
  --font-mono: "Fira Code", "Courier New", monospace;

  --radius: 0.5rem;

  --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-sm:
    1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow:
    1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow-md:
    1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 2px 4px 0px hsl(0 0% 0% / 0.06);
  --shadow-lg:
    1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 4px 6px 0px hsl(0 0% 0% / 0.06);
  --shadow-xl:
    1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 8px 10px 0px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);

  --sidebar-width: 16rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply cursor-pointer;
  }
}
